<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Hello, <%= userName %></h1>
    </div>
    <div class="box">
        <% for (var i=0; i<toDoList.length; i++){ %>
        <div class="boxdiv">
            <p><%= toDoList[i] %></p>
        </div>
        <% } %>
        
        <div>
            <form action="/to-do" method="post">
                <input class="boxdiv" type="text" name="listItem" placeholder="Add task" autofocus>
                <button class="sbmt" type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>